
.git
.gitignore

.docker

BLOG/__pycache__
BLOG/.pytest_cache
BLOG/*/__pycache__
BLOG/*/.pytest_cache
BLOG/*/*/__pycache__
BLOG/*/*/*/.pytest_cache
BLOG/*/*/*/__pycache__
.evn/
.venv/
venv/
